// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');

// Variables
@import 'variables';

@import 'theme';

@import 'base';
@import 'components/navbar';
@import 'components/post';
