.post-preview,
.post {
  header {
    > h1 {
      font-weight: 500 !important;
      font-size: 2.3rem;
      font-family: 'Roboto Slab', serif;
      color: #333333;

      > a {
        &:link, &:visited {
          color: #333333;
        }

        &:hover, &:active {
          color: #4f4f4f;
          text-decoration: none;
          transition: color .5s;
        }
      }
    }
  }

  .description {
    font-size: 1.1rem;
  }
}

.post {

}
