.iziToast {
  > .iziToast-body {
    .iziToast-title {
      font-size: 1.1rem !important;
      margin-bottom: 6px;
    }

    .iziToast-message {
      font-size: 1.1rem !important;
      font-weight: bold !important;
    }
  }
}
