.app-alerts {
  margin-top: 56px;
}

.alert {
  border-width: 0 0 1px 0;
  box-shadow: 0 0 0 1px rgba(20, 20, 31, 0.05), 0 1px 3px 0 rgba(20, 20, 31, 0.15);
  border-radius: 0;
  font-size: 100% !important;
}
